/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

header {
    background: #222222;
    padding: 18px 0;
}

.header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: flex-end;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 41px;
}

.header-left svg {
    cursor: pointer;
}

.header-left img {
    width: 44px;
}

.header-left svg:hover path {
    fill: rgb(241, 109, 127, .9);
}


.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
    /*padding: 12px 0 2px 0;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-right svg {
    cursor: pointer;
}

.header-right svg:hover path {
    fill: rgb(241, 109, 127, .9);
}

.header_checkbox {
    position: absolute;
    visibility: hidden;
    left: -9999999px;
}


.input {
    display: none;
}

@-webkit-keyframes fade-in-right {

    0% {

        -webkit-transform: translateX(50px);

        transform: translateX(50px);

        opacity: 0;
    }

    100% {

        -webkit-transform: translateX(0);

        transform: translateX(0);

        opacity: 1;
    }

}

@keyframes fade-in-right {

    0% {

        -webkit-transform: translateX(50px);

        transform: translateX(50px);

        opacity: 0;
    }

    100% {

        -webkit-transform: translateX(0);

        transform: translateX(0);

        opacity: 1;
    }

}

.header_check:checked~.menu-mobaile-open {
    display: block;
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.header_checkbox:checked~.menu-mobaile-open {
    right: 0;
    overflow: hidden;
}


.menu-mobaile-open {
    position: absolute;
    top: 82px;
    right: -336px;
    z-index: 1;
    -webkit-transition: right 1s;
    -o-transition: right 1s;
    transition: right 1s;
    width: 232px;
    background: #FFFFFF;
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    /* display: none;*/

}

.menu-mobaile-heading {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu-mobaile-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.menu-mobaile-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
}

.menu-mobile-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.menu-mobile-list {
    padding-left: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 11px;
    list-style-type: none;
}

.menu-mobaile-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu-mobaile-link:hover {
    color: #F16D7F;
}


.cart {
    position: relative;
}

.cart h5 {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #F16D7F;
    top: -6px;
    right: -7px;
}

.promo-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 64px;
}

.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo-img img {
    width: 100%;
}

.promo-info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo-title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.color_coral {
    color: #F16D7F;
}

.card__phone {
    display: none;
}

.card {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
}

.card__item {
    position: relative;
}

.card__item img {
    width: 100%;
}

.card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__item_big {
    grid-column: 1 / -1;
}

.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.card__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}


.card-box {
    padding-bottom: 96px;
}

.card-box-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.card-box-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
}

.card-box-content {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 360px 30px 360px 30px 360px;
    grid-template-columns: repeat(3, 360px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.cards {
    position: relative;
}

.cards-img {
    width: 100%;
}


.cards-content {
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.cards-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.cards-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.cards-price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}


.cards:hover .cards__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.cards:hover .cards__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cards__img {
    width: 100%;
}

.cards__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
}

.cards__add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.cards__add:hover svg path {
    fill: #F16D7F;
}

.head {
    min-height: 148px;
    background: #F8F3F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.head-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.card-bottom-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}

.btn {
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn:hover {
    background: #F16D7F;
    color: #FFFFFF;
}


.cards:hover .accesories {
    position: absolute;
    width: 360px;
    height: 420px;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);

}

.accesories {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.information-block {
    background: #222224;
}

.information {
    padding: 104px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 360px 30px 360px 30px 360px;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.information-card {
    max-width: 360px;
    height: 134px;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.information-card svg path {
    fill: #F16D7F;
}

.information-card h5 {
    font-style: normal;
    margin-top: 19px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.information-card h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.bottom-gradient {
    background: -o-linear-gradient(27deg, rgb(146 146 146), 16%, rgb(252, 252, 252));
    background: linear-gradient(63deg, rgb(146 146 146), 16%, rgb(252, 252, 252));
}

.bottom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 448px;
    background-image: url("./img/subscribe.png");
    -webkit-box-shadow: -46px 196px 77px rgb(0 0 0 / 30%);
    box-shadow: -46px 196px 77px rgb(0 0 0 / 30%);
    background-size: cover;
}

.reservation {
    position: absolute;
    width: 100%;
    padding-top: 97px;
    padding-bottom: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 223px;
    background: rgba(244, 244, 244, 0.7);

}

.reservation-card {
    width: 360px;
    height: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

figure img {
    width: 96px;
}

figure h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.reservation-card h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.reservation-card h2 span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40.13px;
    text-align: center;
    color: #222224;
}

form {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-enter-email {
    height: 49px;
    width: 256px;
    border: none;
    padding-left: 22px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    outline-offset: none !important;
    outline: none !important;

}

.input-enter-email:focus-visible {
    outline: none !important;
    outline-offset: none !important;
}

.input-enter-email:focus-visible {
    outline-offset: none;
    outline: none;
    border: 1px solid #F16D7F;
    background: #f0e9e9;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.reservation-btn {
    width: 100px;
    height: 49px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.reservation-btn:hover {
    background: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;

}

.footer {
    height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #222224;
}

.footer h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}


.footer-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 7.29px
}

.footer-svg {
    width: 31.45px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
}

.footer-svg:hover {
    background: #F16D7F;
}

.footer-svg:hover path {
    fill: #FFFFFF;
}